
<!DOCTYPE html>
<html lang="ru">
<head><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Rick Owens</title>
    <link rel="stylesheet" href="/static/prototypes.css">
</head>

<body>

<nav class="nav-bar">
    <a href="/" class="nav-btn">ГЛАВНАЯ</a>
    <a href="/" class="nav-btn">PROTOTYPES</a>
    <a href="/numbernine" class="nav-btn">NUMBER (N)INE</a>
    <a href="/rick" class="nav-btn">RICK OWENS</a>
</nav>

<div class="stack" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; padding: 20px;">
    
    {{range .}} 
    <div class="case-item" style="flex: 0 1 18%; min-width: 200px; text-align: center; border: 1px solid #222; padding: 15px; background: #0a0a0a;">
        
        <!-- Жестко зажимаем высоту (250px) и обрезаем лишнее -->
        <div style="width: 100%; height: 250px; border: 1px solid #222; margin-bottom: 15px; overflow: hidden;">
            <img src="/img/{{.Image}}" style="width: 100%; height: 100%; object-fit: contain; background: #fff;">
        </div>

        <p style="text-transform: uppercase; font-size: 0.8rem; margin: 0; min-height: 40px; color: white;">{{.Brand}} {{.Model}}</p>
        <p style="color: #ffffff; font-weight: bold; margin: 10px 0;">{{.Price}} ₽</p>
        
        <a href="/product/{{.ID}}" style="width: 100%;">
            <button style="
    width: 100%; 
    background-color: #ffffff; 
    color: #000000; 
    border: none; 
    padding: 12px; 
    cursor: pointer; 
    text-transform: uppercase; 
    font-family: monospace; 
    font-weight: bold;
    letter-spacing: 1px;
">КУПИТЬ</button>
        </a>

        </a>
    </div>
    {{end}}

</div>

</div>

</body>
</html>